service: omni-real-time-updates

provider:
  name: aws
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  versionFunctions: false
  tags: ${self:custom.tags}
  stackTags: ${self:custom.tags}
  vpc:
    securityGroupIds:
      - ${ssm:/omni-dw/${self:provider.stage}/lambda/sgId}
    subnetIds:
      - ${ssm:/omni-dw/${self:provider.stage}/lambda/subnetA}
      - ${ssm:/omni-dw/${self:provider.stage}/lambda/subnetB}
  timeout: 30
  runtime: nodejs14.x
  environment:
    REGION: ${self:custom.region}
  deploymentBucket:
    name: ${ssm:/omni-dw/${self:provider.stage}/sls/deployment/bucket}
    serverSideEncryption: AES256

custom:
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  tags:
    Application: OmniRealTimeReplication
    CreateBy: BizCloudExperts
    Environment: ${self:custom.stage}

plugins:
  - serverless-offline
  - serverless-provisioned-concurrency-autoscaling

package:
  individually: true

layers:
  OmniRealTimeReplicationLayer:
    path: lambdaLayer/lib
    name: ${self:service}-layer-${self:provider.stage}
    description: Omni Real Time Replication lambda layer for all node modules - ${self:provider.stage}
    compatibleRuntimes:
      - nodejs14.x
    retain: false

functions:
  shipmentHeaderTrigger: ${file(config/functions/fullLoad/shipmentHeaderTrigger.yml):function}
  OmniRtBatchServiceRole: ${file(config/batch/OmniRt/computeEnvironment.yml):OmniRtBatchServiceRole}
  OmniRtComputeEnvironment: ${file(config/batch/OmniRt/computeEnvironment.yml):OmniRtComputeEnvironment}
  ShipmentHeaderJobQueue: ${file(config/batch/OmniRt/shipmentHeaderJobQueue.yml):ShipmentHeaderJobQueue}
  OmniRtBatchTaskExecutionRole: ${file(config/batch/OmniRt/shipmentHeaderJob.yml):OmniRtBatchTaskExecutionRole}
  ShipmentHeaderJobDefinition: ${file(config/batch/OmniRt/shipmentHeaderJob.yml):ShipmentHeaderJobDefinition}
  ShipmentHeaderBatchLogGroup: ${file(config/batch/OmniRt/shipmentHeaderJob.yml):ShipmentHeaderBatchLogGroup}
