ToyotaTargetDLQ:
  Type: AWS::SQS::Queue
  Properties:
    QueueName: omni-rt-toyota-DLQ-${self:provider.stage}

ToyotaTargetQueue:
  Type: AWS::SQS::Queue
  Properties:
    QueueName: omni-rt-toyota-${self:provider.stage}
    VisibilityTimeout: 90
    RedrivePolicy:
      deadLetterTargetArn: !GetAtt ToyotaTargetDLQ.Arn
      maxReceiveCount: 3

ToyotaTargetQueuePolicy:
  Type: AWS::SQS::QueuePolicy
  Properties:
    Queues:
      - !Ref ToyotaTargetQueue
    PolicyDocument:
      Version: "2012-10-17"
      Statement:
        - Sid: "Allow SNS publish to SQS"
          Effect: Allow
          Principal:
            Service: "sns.amazonaws.com"
          Resource: !GetAtt ToyotaTargetQueue.Arn
          Action: SQS:SendMessage
          Condition:
            ArnEquals:
              aws:SourceArn: !Ref ShipmentHeaderTopic

          # Condition:
          #   "ForAnyValue:ArnEquals":
          #     aws:SourceArn:
          #       - !Ref ShipmentHeaderTopic
          #       - !Ref ShipmentHeaderTopic
