ShipmentHeaderTopic:
  Type: AWS::SNS::Topic
  Properties:
    TopicName: omni-wt-rt-shipment-header-${self:provider.stage}

ToyotaShipmentHeaderSubscription:
  Type: AWS::SNS::Subscription
  Properties:
    TopicArn: !Ref ShipmentHeaderTopic
    Endpoint: !GetAtt
      - ToyotaTargetQueue
      - Arn
    Protocol: sqs
    RawMessageDelivery: "true"
    FilterPolicy:
      BillNo:
        - "22531"

IviaShipmentHeaderSubscription:
  Type: AWS::SNS::Subscription
  Properties:
    TopicArn: !Ref ShipmentHeaderTopic
    Endpoint: !GetAtt
      - IviaTargetQueue
      - Arn
    Protocol: sqs
    RawMessageDelivery: "true"
