---
function:
  name: omni-wt-rt-consol-stop-items-${self:provider.stage}
  handler: src/realtime/consolStopItemsRt.handler
  memorySize: 1024
  timeout: 300
  runtime: nodejs18.x
  
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/realtime/consolStopItemsRt.js"
      - "src/shared/**"
  environment:
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consol-stop-items/ddb.tableName~true}
  events:
    - sqs:
        arn: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consol-stop-items/queue.arn~true}
        batchSize: 10
        functionResponseType: ReportBatchItemFailures
  iamRoleStatementsName: omni-wt-rt-consol-stop-items-${self:provider.stage}-role
  iamRoleStatements:
    -
      Effect: "Allow"
      Action:
        - "sqs:*"
      Resource: "*"