---
function:
  name: omni-wt-rt-references-${self:provider.stage}
  handler: src/realtime/referencesRt.handler
  memorySize: 1024
  timeout: 90
  
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/realtime/referencesRt.js"
      - "src/shared/**"
  environment:
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/references/ddb.tableName~true}
  # events:
  #   - sqs:
  #       arn: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/references/queue.arn~true}
  #       batchSize: 10
  #       functionResponseType: ReportBatchItemFailures
  # iamRoleStatementsName: omni-wt-rt-references-${self:provider.stage}-role
  # iamRoleStatements:
  #   -
  #     Effect: "Allow"
  #     Action:
  #       - "sqs:*"
  #     Resource: "*"