---
function:
  name: omni-wt-rt-reprocess-${self:provider.stage}
  handler: src/realtime/reprocess.handler
  memorySize: 1024
  timeout: 300
  runtime: nodejs18.x

  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/realtime/reprocess.js"
      - "src/shared/**"

  events:
    - stream:
        type: dynamodb
        arn: arn:aws:dynamodb:us-east-1:332281781429:table/realtime-failed-records/stream/2024-05-23T10:13:10.709
        batchSize: 2
        startingPosition: LATEST

  iamRoleStatementsName: omni-wt-rt-reprocess-${self:provider.stage}-role
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeStream
        - dynamodb:GetRecords
        - dynamodb:GetShardIterator
        - dynamodb:ListStreams
      Resource: "*"
