---
function:
  name: omni-wt-rt-shipment-header-${self:provider.stage}
  handler: src/realtime/shipmentHeaderRt.handler
  provisionedConcurrency: 1
  concurrencyAutoscaling: true
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/realtime/shipmentHeaderRt.js"
      - "src/shared/**"
  environment:
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-header/ddb.tableName~true}
  events:
    - sqs:
        arn: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-header/queue.arn}
        batchSize: 10
        functionResponseType: ReportBatchItemFailures
