---
function:
  name: omni-wt-rt-shipment-apar-${self:provider.stage}
  handler: src/realtime/shipmentAparRt.handler
  memorySize: 1024
  timeout: 90
  
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/realtime/shipmentAparRt.js"
      - "src/shared/**"
  environment:
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-apar/ddb.tableName~true}
  events:
    - sqs:
        arn: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-apar/queue.arn~true}
        batchSize: 10
        functionResponseType: ReportBatchItemFailures
  iamRoleStatementsName: omni-wt-rt-shipment-apar-${self:provider.stage}-role
  iamRoleStatements:
    -
      Effect: "Allow"
      Action:
        - "sqs:*"
      Resource: "*"