---
function:
  name: omni-wt-rt-shipment-desc-${self:provider.stage}
  handler: src/realtime/shipmentDescRt.handler
  memorySize: 1024
  timeout: 90
  runtime: nodejs18.x
  
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/realtime/shipmentDescRt.js"
      - "src/shared/**"
  environment:
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-desc/ddb.tableName~true}
  events:
    - sqs:
        arn: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-desc/queue.arn~true}
        batchSize: 10
        functionResponseType: ReportBatchItemFailures
  iamRoleStatementsName: omni-rt-sqs-to-ddb-source-${self:provider.stage}-role      
  iamRoleStatements:
      -
        Effect: "Allow"
        Action:
        - "dynamodb:GetRecords"
        - "dynamodb:GetShardIterator"
        - "dynamodb:DescribeStream"
        - "dynamodb:ListStreams"
        - "dynamodb:DescribeTable"
        - "dynamodb:Query"
        - "dynamodb:GetItem"
        - "dynamodb:PutItem"
        - "dynamodb:UpdateItem"
        - "dynamodb:DeleteItem"
        Resource: 
        - ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-desc/ddb.arn~true}
      - Effect: "Allow"
        Action:
          - "sqs:*"
        Resource: "*"
