---
function:
  name: omni-wt-consignee-source-ddb-to-sns-${self:provider.stage}
  handler: src/dynamoStreamToSns/consigneeStreamToSns.handler
  
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/dynamoStreamToSns/consigneeStreamToSns.js"
      - "src/shared/**"
  events:
    - stream: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consignee/ddb.streamArn~true}
  environment:
    SNS_TOPIC_ARN: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consignee/sns.arn~true}
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consignee/ddb.tableName~true}
  iamRoleStatementsName: omni-wt-cs-source-ddb-to-sns-${self:provider.stage}-role
  iamRoleStatements:
    -
      Effect: "Allow"
      Action:
      - "dynamodb:GetRecords"
      - "dynamodb:GetShardIterator"
      - "dynamodb:DescribeStream"
      - "dynamodb:ListStreams"
      - "dynamodb:DescribeTable"
      - "dynamodb:Query"
      - "dynamodb:GetItem"
      - "dynamodb:PutItem"
      - "dynamodb:UpdateItem"
      - "dynamodb:DeleteItem"
      Resource: 
      - "*"
