---
function:
  name: omni-wt-consol-stop-headers-source-ddb-to-sns-${self:provider.stage}
  handler: src/dynamoStreamToSns/consolStopHeadersStreamToSns.handler
  runtime: nodejs14.x
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/dynamoStreamToSns/consolStopHeadersStreamToSns.js"
      - "src/shared/**"
  events:
    - stream: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consol-stop-headers/ddb.streamArn~true}
  environment:
    SNS_TOPIC_ARN: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consol-stop-headers/sns.arn~true}
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/consol-stop-headers/ddb.tableName~true}
  iamRoleStatementsName: omni-wt-csh-source-ddb-to-sns-${self:provider.stage}-role
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "dynamodb:GetRecords"
        - "dynamodb:GetShardIterator"
        - "dynamodb:DescribeStream"
        - "dynamodb:ListStreams"
        - "dynamodb:DescribeTable"
        - "dynamodb:Query"
        - "dynamodb:GetItem"
        - "dynamodb:PutItem"
        - "dynamodb:UpdateItem"
        - "dynamodb:DeleteItem"
      Resource:
        - "*"
