---
function:
  name: omni-wt-instructions-source-ddb-to-sns-${self:provider.stage}
  handler: src/dynamoStreamToSns/instructionsStreamToSns.handler
  provisionedConcurrency: 1
  concurrencyAutoscaling: true
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/dynamoStreamToSns/instructionsStreamToSns.js"
      - "src/shared/**"
  events:
    - stream: ${ssm/omni-wt-rt-updates/${self:provider.stage}/instructions/ddb.streamArn~true}
  environment:
    SNS_TOPIC_ARN: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/instructions/sns.arn~true}
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/instructions/ddb.tableName~true}
