---
function:
  name: omni-wt-references-source-ddb-to-sns-${self:provider.stage}
  handler: src/dynamoStreamToSns/referencesStreamToSns.handler
  provisionedConcurrency: 1
  concurrencyAutoscaling: true
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/dynamoStreamToSns/referencesStreamToSns.js"
      - "src/shared/**"
  events:
    - stream: ${ssm/omni-wt-rt-updates/${self:provider.stage}/references/ddb.streamArn~true}
  environment:
    SNS_TOPIC_ARN: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/references/sns.arn~true}
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/references/ddb.tableName~true}
