---
function:
  name: omni-wt-shipment-desc-source-ddb-to-sns-${self:provider.stage}
  handler: src/dynamoStreamToSns/shipmentDescStreamToSns.handler
  provisionedConcurrency: 1
  concurrencyAutoscaling: true
  layers:
    - { Ref: OmniRealTimeReplicationLayerLambdaLayer }
  package:
    patterns:
      - "!**/*"
      - "src/dynamoStreamToSns/shipmentDescStreamToSns.js"
      - "src/shared/**"
  events:
    # - stream: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-desc/ddb.streamArn~true}
  environment:
    SNS_TOPIC_ARN: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-desc/sns.arn~true}
    DYNAMO_DB_TABLE: ${ssm:/omni-wt-rt-updates/${self:provider.stage}/shipment-desc/ddb.tableName~true}
